<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.inspira.UniqID</string>
	<key>CFBundleName</key>
	<string>Uniq Identifier</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>uid</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Dominique Da Silva</string>
		<key>LBChangelog</key>
		<string></string>
		<key>LBDownloadURL</key>
		<string>https://dl.dropboxusercontent.com/u/24409293/LaunchBar/UniqID.lbaction</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>Generate a 12 characters uniq identifier.</string>
		<key>LBTwitter</key>
		<string>@domadp</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/atika/launchbar/master/UniqID.lbaction/Contents/Info.plist</string>
		<key>LBWebsite</key>
		<string>https://github.com/atika/launchbar</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.rb</string>
		</dict>
	</dict>
</dict>
</plist>
