[submodule "prenagha-actions"]
	path = actions-by-prenagha
	url = https://github.com/prenagha/launchbar
[submodule "nbjahan-actions"]
	path = actions-by-nbjahan
	url = https://github.com/nbjahan/launchbar-actions
[submodule "facetheheat-actions"]
	path = actions-by-facetheheat
	url = https://github.com/facetheheat/LaunchBar/
[submodule "launchbar-github"]
	path = launchbar-github
	url = https://github.com/Duhemm/launchbar-github
[submodule "launchbar-ssh-action"]
	path = launchbar-ssh-action
	url = https://github.com/CyrilPeponnet/launchbar-ssh-action
[submodule "launchbar-viscosity-vpn"]
	path = launchbar-viscosity-vpn
	url = https://github.com/ja-ab/launchbar-viscosity-vpn
[submodule "launchbar-uicolorconverter"]
	path = launchbar-uicolorconverter
	url = https://github.com/sebastianf/UIColorConverter
[submodule "launchbar-timer"]
	path = launchbar-timer
	url = https://github.com/marc0janssen/Timer
[submodule "actions-by-hlissner"]
	path = actions-by-hlissner
	url = https://github.com/hlissner/lb6-actions
