<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>BundleIDIconTemplate.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.inspira.AppBundleID</string>
	<key>CFBundleName</key>
	<string>App Bundle ID</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>bundle</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Dominique Da Silva</string>
		<key>LBDownloadURL</key>
		<string>https://dl.dropboxusercontent.com/u/24409293/LaunchBar/SearchSnippetsLab.lbaction</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>Get the bundle identifier of an application.</string>
		<key>LBTwitter</key>
		<string>@domadp</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/atika/launchbar/master/AppBundleID.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/atika/launchbar</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.rb</string>
		</dict>
	</dict>
</dict>
</plist>
