<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Proxy Switch</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.agonia.proxyswitch</string>
	<key>CFBundleIconFile</key>
	<string>ProxyTemplate@2x.png</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBTextInputTitle</key>
	<string>Select an Option</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>ProxySwitch.rb</string>
			<key>LBRequiresArgument</key>
			<false/>
			<key>LBLiveFeedbackEnabled</key>
			<false/>
			<key>LBRunInBackground</key>
			<false/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBReturnsResult</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Dominique Da Silva</string>
		<key>LBSummary</key>
		<string>Switch to a user defined Proxy and display network proxies status. Define your list on &quot;Action Support &gt; UserProxy.json&quot;. Interface: Ethernet. Proxy type: web, https, ftp, socks. Press Alt-Key to show Support Folder.</string>
		<key>LBWebsite</key>
		<string>https://github.com/atika</string>
		<key>LBTwitter</key>
		<string>@domadp</string>
	</dict>
</dict>
</plist>
