<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.inspira.SearchSnippetsLab</string>
	<key>CFBundleName</key>
	<string>Search SnippetsLab</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>LBAbbreviation</key>
	<string>snip</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Dominique Da Silva</string>
		<key>LBDownloadURL</key>
		<string>https://dl.dropboxusercontent.com/u/24409293/LaunchBar/SearchSnippetsLab.lbaction</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBRequirements</key>
		<string>SnippetsLab, code manager.</string>
		<key>LBSummary</key>
		<string>Live search in SnippetsLab. Click on the result to reveal in SnippetsLab and press ALT key to copy to the clipboard.</string>
		<key>LBTwitter</key>
		<string>@domadp</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/atika/launchbar/master/SearchSnippetsLab.lbaction/Contents/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/atika/launchbar</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.renfei.SnippetsLab</string>
	<key>LBRequirements</key>
	<string>SnippetsLab, code manager.</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>SnippetsLabAction.rb</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Search SnippetsLab</string>
	<key>LBWebsite</key>
	<string>https://github.com/atika/launchbar</string>
</dict>
</plist>
